BikingServer/BikingServer/Connected Services/BikingCache/wsdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BikingServer.Models.JCDecaux" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BikingServer.Models.JCDecaux" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/BikingCache/Service/wsdl?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BikingServer.Models" />
  <xs:complexType name="ArrayOfJC_Station">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JC_Station" nillable="true" type="tns:JC_Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJC_Station" nillable="true" type="tns:ArrayOfJC_Station" />
  <xs:complexType name="JC_Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BikingServer.Models" minOccurs="0" name="Position" nillable="true" type="q1:GeoCoordinate" />
      <xs:element minOccurs="0" name="Stand" nillable="true" type="tns:JC_Stand" />
      <xs:element minOccurs="0" name="StatusStr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JC_Station" nillable="true" type="tns:JC_Station" />
  <xs:complexType name="JC_Stand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:JC_StandDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JC_Stand" nillable="true" type="tns:JC_Stand" />
  <xs:complexType name="JC_StandDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="ElectricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="MechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="Stans" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JC_StandDetails" nillable="true" type="tns:JC_StandDetails" />
</xs:schema>