BikingServer/BikingServer/Connected Services/BikingCache/wsdl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BikingServerCache.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BikingServerCache.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeoCoordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoCoordinate" nillable="true" type="tns:GeoCoordinate" />
</xs:schema>