BikingServer/BikingServer/Connected Services/BikingCache/wsdl2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/BikingCache/Service/wsdl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BikingServerCache.Models.JCDecaux" />
  <xs:element name="GetJCStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BikingServerCache.Models.JCDecaux" minOccurs="0" name="GetJCStationsResult" nillable="true" type="q1:ArrayOfJC_Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>